#container {
  text-align: center;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
}
#square {
  border: 1px solid black;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  display: inline-block;

}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
.red:hover ~ #square {
  background-color: red;
}
.green:hover ~ #square {
  background-color: green;
}
.blue:hover ~ #square {
  background-color: blue;
}