*{
  box-sizing: border-box;
}
div {
  border: 2px solid black;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 60px);
}